@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&family=Roboto&display=swap');

.navbar-nav .btn-outline-light {
  color: white;
  border-color: white;
}

.header-nav {
  background: transparent !important;
  transition: all 0.3s ease;
  padding-left: 2vw;
  padding-right: 2vw;

  .navbar-toggler {
    border-color: #fff;
    opacity: 0.3;
    transition: all 0.5s ease;

    &-icon {
      background-image: none;
      border: none;
      width: 24px;
      height: 24px;
      position: relative;
      display: inline-block;

      &::before,
      &::after,
      div {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      div {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .navbar-toggler-icon {
    background-image: none;
    border: none;
    width: 24px;
    height: 24px;
    position: relative;
    display: inline-block;

    &::before,
    &::after,
    div {
      content: '';
      background-color: white;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    div {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke !important;
    font-size: 18px;
    font-family: 'Roboto' !important;
    transition: all 0.5s ease;

    &:hover,
    &:focus {
      color: #5defeb !important;
      transition: color 0.3s ease-in-out;
    }
  }
}

.header-nav.sticky {
  background-color: #2E212A !important;
  transition: all 0.5s ease;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 1vw;
  padding-right: 1vw;
  
  .nav-link {
    color: white !important;
    transition: all 0.5s ease;
    // margin-left: 3%;
    // margin-right: 3%;
    // width: 94%;

    &:hover {
        color: #29a19c !important;
        transition: color 0.3s ease;
    }
  }

  .nav-link {
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      transition: all 0.5s ease;
    }
  }
}

.loginButton {
  border: 1px solid white;
  border-radius: 7px;
  margin-left: 3%;
  margin-right: 3%;
  width: 94%;

  &:hover {
    border-color: #5defeb;
    color: #5defeb;
  }
}

/* Media query for smaller screens */
@media (max-width: 963px) {
  .navbar-collapse {
    padding-bottom: 2vw;
  }

  .loginButton {
    margin-top: 37px;
  }
}