@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&family=Roboto&display=swap');

.navbar-nav .btn-outline-light {
  color: white;
  border-color: white;
}

.header-nav {
  background: transparent !important;
  transition: all 0.5s ease;
  padding-left: 2vw;
  padding-right: 2vw;

  .navbar-toggler {
    border-color: #fff;
    opacity: 0.3;
    transition: all 0.5s ease;
    
    &-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      border: none;
      width: 24px;
      height: 24px;
      position: relative;
      display: inline-block;

      &::before,
      &::after,
      div {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      div {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  
  .menu-open {
    @media (max-width: 991.98px) {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
  }

  .navbar-toggler-icon {
    border: none;
    width: 24px;
    height: 24px;
    position: relative;
    display: inline-block;

    transition: background-color 0.3s ease;

    &::before,
    &::after,
    div {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    div {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke !important;
    font-size: 1.5rem;
    font-family: 'Roboto' !important;
    transition: all 0.5s ease;

    &:hover,
    &:focus {
      color: #5defeb !important;
      transition: color 0.3s ease-in-out;
    }
  }
  
  // Sticky state
  &.sticky {
    background-color: #2E212A !important;
      padding-top: 3px;
      padding-bottom: 5px;
      padding-left: 1vw;
      padding-right: calc(max(1vw, 13px));
  }
  
  // Mobile menu open state
  &.menu-open {
    @media (max-width: 991.98px) {
      background-color: #2E212A !important;
      
      .navbar-collapse {
        background-color: #2E212A;
        margin: 0 -1rem;
        padding: 1rem;
      }
    }
  }
}

.loginButton {
  border: 1px solid white;
  border-radius: 7px;
  margin-left: 3%;
  margin-right: 3%;
  width: 150px;

  &:hover {
    border-color: #5defeb;
    color: #5defeb;
  }
}

/* Media query for smaller screens */
@media (max-width: 963px) {
  .navbar-collapse {
    padding-bottom: 2vw;
  }

  .loginButton {
    margin-top: 37px;
  }
}